{% extends "::base.html.twig" %}

{% block body %}
	<div class="login-container">
		<div class="header">
			<h2>Login</h2>
		</div>
		<div class="body">
			<div class="row">
				<div class="col-md-12 form-group">
					<label>Username</label>
					<input type="text" class="form-box" placeholder="Username"/>
				</div>
				<div class="col-md-12 form-group">
					<label>Password</label>
					<input type="password" class="form-box" placeholder="Password"/>
				</div>
				<div class="col-md-12 form-group">
					<button type="button" class="btn btn-block btn-default">Login</button>
				</div>
			</div>
		</div>
	</div>
{% endblock %}