@import 'sass/reset';
@import 'sass/colors';
@import 'sass/helpers';
@import 'sass/fonts';
@import 'sass/buttons';
@import 'sass/forms';

a {
	&:hover {
		color: inherit;
	}
}

.login-container {
	background: #FFFFFF;
	width: 400px;
	margin: 50px auto;
	padding-top: 20px;

	& > .header {
		border-left: 4px solid $blue;
		padding: 10px 25px;
	}
	& > .body {
		padding: 20px;
	}
}