@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500");
h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

.p-xs {
  padding: 5px;
}

.p-sm {
  padding: 10px;
}

.p-md {
  padding: 20px;
}

.p-lg {
  padding: 30px;
}

.p-t-xs {
  padding-top: 5px;
}

.p-t-sm {
  padding-top: 10px;
}

.p-t-md {
  padding-top: 20px;
}

.p-t-lg {
  padding-top: 30px;
}

.p-i-t-xs {
  padding: 0 5px 5px 5px;
}

.p-i-t-sm {
  padding: 0 10px 10px 10px;
}

.p-i-t-md {
  padding: 0 20px 20px 20px;
}

.p-i-t-lg {
  padding: 0 30px 30px 30px;
}

.p-b-xs {
  padding-bottom: 5px;
}

.p-b-sm {
  padding-bottom: 10px;
}

.p-b-md {
  padding-bottom: 20px;
}

.p-b-lg {
  padding-bottom: 30px;
}

.p-i-b-xs {
  padding: 5px 5px 0 5px;
}

.p-i-b-sm {
  padding: 10px 10px 0 10px;
}

.p-i-b-md {
  padding: 20px 20px 0 20px;
}

.p-i-b-lg {
  padding: 30px 30px 0 30px;
}

.p-l-xs {
  padding-left: 5px;
}

.p-l-sm {
  padding-left: 10px;
}

.p-l-md {
  padding-left: 20px;
}

.p-l-lg {
  padding-left: 30px;
}

.p-i-l-xs {
  padding: 5px 5px 5px 0;
}

.p-i-l-sm {
  padding: 10px 10px 10px 0;
}

.p-i-l-md {
  padding: 20px 20px 20px 0;
}

.p-i-l-lg {
  padding: 30px 30px 30px 0;
}

.p-r-xs {
  padding-right: 5px;
}

.p-r-sm {
  padding-right: 10px;
}

.p-r-md {
  padding-right: 20px;
}

.p-r-lg {
  padding-right: 30px;
}

.p-i-l-xs {
  padding: 5px 0 5px 5px;
}

.p-i-l-sm {
  padding: 10px 0 10px 10px;
}

.p-i-l-md {
  padding: 20px 0 20px 20px;
}

.p-i-l-lg {
  padding: 30px 0 30px 30px;
}

.m-xs {
  margin: 5px;
}

.m-sm {
  margin: 10px;
}

.m-md {
  margin: 20px;
}

.m-lg {
  margin: 30px;
}

.m-t-xs {
  margin-top: 5px;
}

.m-t-sm {
  margin-top: 10px;
}

.m-t-md {
  margin-top: 20px;
}

.m-t-lg {
  margin-top: 30px;
}

.m-i-t-xs {
  margin: 0 5px 5px 5px;
}

.m-i-t-sm {
  margin: 0 10px 10px 10px;
}

.m-i-t-md {
  margin: 0 20px 20px 20px;
}

.m-i-t-lg {
  margin: 0 30px 30px 30px;
}

.m-b-xs {
  margin-bottom: 5px;
}

.m-b-sm {
  margin-bottom: 10px;
}

.m-b-md {
  margin-bottom: 20px;
}

.m-b-lg {
  margin-bottom: 30px;
}

.m-i-b-xs {
  margin: 5px 5px 0 5px;
}

.m-i-b-sm {
  margin: 10px 10px 0 10px;
}

.m-i-b-md {
  margin: 20px 20px 0 20px;
}

.m-i-b-lg {
  margin: 30px 30px 0 30px;
}

.m-l-xs {
  margin-left: 5px;
}

.m-l-sm {
  margin-left: 10px;
}

.m-l-md {
  margin-left: 20px;
}

.m-l-lg {
  margin-left: 30px;
}

.m-i-l-xs {
  margin: 5px 5px 5px 0;
}

.m-i-l-sm {
  margin: 10px 10px 10px 0;
}

.m-i-l-md {
  margin: 20px 20px 20px 0;
}

.m-i-l-lg {
  margin: 30px 30px 30px 0;
}

.m-r-xs {
  margin-right: 5px;
}

.m-r-sm {
  margin-right: 10px;
}

.m-r-md {
  margin-right: 20px;
}

.m-r-lg {
  margin-right: 30px;
}

.m-i-l-xs {
  margin: 5px 0 5px 5px;
}

.m-i-l-sm {
  margin: 10px 0 10px 10px;
}

.m-i-l-md {
  margin: 20px 0 20px 20px;
}

.m-i-l-lg {
  margin: 30px 0 30px 30px;
}

.align-right {
  text-align: right;
}

.align-center {
  text-align: center;
}

.align-left {
  text-align: left;
}

body {
  color: #636d77;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 300;
}

label {
  font-weight: 400;
}

.btn {
  height: 40px;
  color: #FFFFFF;
}

.btn:hover {
  color: #FFFFFF;
}

.btn-block {
  width: 100%;
}

.btn-default {
  background: #FF5055;
}

.btn-default:hover {
  background: #cc3d3f;
}

.btn-primary {
  background: #02A3C4;
}

.btn-primary:hover {
  background: #068E92;
}

.form-box {
  border: 1px solid #DDDDDD;
  padding: 5px 15px;
  height: 40px;
  width: 100%;
}

a:hover {
  color: inherit;
}

.login-container {
  background: #FFFFFF;
  width: 400px;
  margin: 50px auto;
  padding-top: 20px;
}

.login-container > .header {
  border-left: 4px solid #02A3C4;
  padding: 10px 25px;
}

.login-container > .body {
  padding: 20px;
}
/*# sourceMappingURL=style.css.map */