@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500');

body {
	color: #636d77;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 300;
}

label {
    font-weight: 400;
}