.r-panel {
    background: #FFFFFF;

    .r-panel-header {
        border-bottom: 1px solid #eaeaea;
        text-align: center;
    }
    
    .r-panel-body {
        text-align: center;
    }
}

.product-list {
    .product {
        background: #FFFFFF;
        border: 1px solid #ddd;
        margin-bottom: 5px;

        .product-picture {
            border-bottom: 1px solid #ddd;
            height: 250px;
            overflow: hidden;

            img {
                box-sizing: border-box;
                height: 250px;
            }
        }

        .product-description {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            -webkit-line-clamp: 3;
        }

        .product-action {
            text-align: right;
        }
    }
}